.greeting {
    font-family: comfortaa;
    font-size: 16px;
}

.logo {
    position: relative;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 10px;
}

.logo-container {
    height: 100px;
    position: relative;
    margin: 0 auto;
    top: 0;
}

.top-nav {
    width: 100%;
    height: 100px !important;
    background: white;
    position: fixed;
    margin-top: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: top 0.2s ease-in-out;
    z-index: 100;
    top: 0;
}

main {
    position: relative;
    top: 120px;
    padding-bottom: 100px !important;
}

h1 {
    margin: 0 !important;
    font-size: 50px !important;
    font-family: comfortaa !important;
    font-weight: bold;
}

.top-section {
    text-align: center;
}

nav {
    background: white !important;
    height: 100% !important;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

.dev-photo {
    padding: 20px;
}

.my-photo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.analytics {
    max-width: 100%;
    height: 521px;
    padding: 20px;
    margin: 0 auto;
}

.intro-section {
    font-family: comfortaa;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #37b5e4;
    padding: 100px 0 !important;
}

.dev-info {
    font-size: 17px;
}

.skills-section {
    display: block;
    font-family: comfortaa;
    color: black;
    max-width: 80%;
    height: 100% !important;
    padding: 20px !important;
    background: white;
    margin: 0 auto;
}

.skills-section h2 {
    margin: 40px 0;
    color: black;
    text-align: center;
}

.contact-button {
    position: relative;
    float: right;
    margin: 30px 30px !important;
}

.skill-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    color: #37b5e4;
}

.dev-tools {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    color: #37b5e4;
}

.dev-tools-list {
    text-align: center !important;
    font-size: 1.5em;
}

.dev-tools-list-dev {
    text-align: center !important;
    font-size: 1.4em;
}

.info-card {
    display: inline-block;
}

.skills-icon {
    text-align: center;
    padding: 15px;
}

.skill-description {
    text-align: center;
    font-size: 1.5em;
}

.languages-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #37b5e4;
}

.languages {
    text-align: center;
    font-size: 1.5em;
    color: black;
}

li {
    padding: 0 !important;
    margin: 0;
}

.recent-projects-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

.recent-projects-section {
    display: inline-block;
    font-family: comfortaa;
    color: white;
    text-align: center;
    max-width: 80%;
    height: 100%;
    background: white;
    padding: 30px 0 !important;
    margin: 0 auto !important;
}

.recent-projects-section h2 {
    color: black;
}

.col-sm-12 {
    margin: 0 !important;
}

.project {
    display: inline-block;
    position: relative;
    max-width: 380px !important;
    min-width: 320px;
    height: 275;
    padding: 15px 0;
}

.container-fluid {
    padding: 0 !important;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: .7;
    transition: .5s ease;
    background-image: url("../images/medical-background-cropped.png");
    border-radius: 5%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5%;
    background: black;
}

.overlay {
    position: relative;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #212a2e;
    border-radius: 5%;
    padding: 0 7px;
}

.project:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    max-width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#cf {
    position: relative;
    max-width: 100%;
    height: 275px;
    margin: 0 auto;
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
    border-radius: 5%;
}

#cf img.top:hover {
    opacity: 0;
}

.bottom {
    width: 100%;
    height: 275px;
}

.top {
    width: 100%;
    height: 275px;
    background: rgb(53, 57, 59);
    opacity: .8;
    transition-duration: transform .5s;
    /* Animation */
}

.card-button {
    display: inline-block;
    position: relative;
    top: 110px !important;
    margin: 0 20px;
    font-size: 1em !important;
    font-family: comfortaa !important;
}

.page-footer {
    position: relative;
    display: block;
    width: 100%;
    height: 100% !important;
    padding: 20px 0 0 0 !important;
    background: white !important;
    color: white;
    text-align: center;
    font-family: comfortaa;
    font-size: 1.1em;
    right: 0;
    left: 0;
    bottom: 0 !important;
    margin-top: -100px !important;
    clear: both;
}

footer.page-footer .footer-copyright {
    font-size: 1.2rem !important;
    background: rgb(53, 57, 59) !important;
}

.rating {
    color: #37b5e4 !important;
    font-size: 1.2em !important;
}

.btn-floating {
    position: relative;
    border-radius: 50% !important;
    vertical-align: middle !important;
    padding: 0 !important;
}

.fab {
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em !important;
    ;
}

hr {
    border: 1px solid rgba(0, 0, 0, .2) !important;
}

.row {
    height: 0 !important;
}