.greeting {
    font-family: comfortaa;
    font-size: 16px;
}

.logo {
    position: relative;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 12px;
}

h1 {
    font-size: 50px !important;
    font-family: comfortaa;
    font-weight: bold;
}

.top-section {
    text-align: center;
}

nav {
    background: white !important;
    height: 100% !important;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

.dev-photo {
    padding: 20px;
}

.my-photo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.big-data {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}

.intro-section {
    font-family: comfortaa;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #37b5e4;
    padding: 100px 0 !important;
}

.dev-info {
    font-size: 17px;
}

.skills-section {
    font-family: comfortaa;
    color: black;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    background: white;
}

.skill-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    color: #37b5e4;
}

.dev-tools {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    color: #37b5e4;
}

.dev-tools-list {
    text-align: center !important;
    font-size: 1.5em;
}

.dev-tools-list-dev {
    text-align: center !important;
    font-size: 1.4em;
}

.info-card {
    display: inline-block;
}

.skills-icon {
    text-align: center;
    padding: 15px;
}

.skill-description {
    text-align: center;
    font-size: 1.5em;
}

.languages-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #37b5e4;
}

.languages {
    text-align: center;
    font-size: 1.5em;
    color: black;
}

li {
    /* list-style: none; */
    padding: 0 !important;
    margin: 0;
}

.recent-projects-section {
    position: relative;
    font-family: comfortaa;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    background: white;
    padding-bottom: 50px !important;
    margin: 0 auto !important;
}

.recent-projects-section h2 {
    margin: 40px 0;
    color: black;
}
.skills-section h2 {
    margin: 40px 0;
    color: black;
    text-align: center;
}

.project {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 275;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: .7;
    transition: .5s ease;
    background-image: url("../images/medical-background-cropped.png");
    border-radius: 5%;
    z-index: 5;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5%;
    background: black;
}

.overlay {
    position: relative;
    /* top: 100px; */
    /* left: 50%; */
    max-width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #212a2e;
    border-radius: 5%;
}

.project:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#cf {
    position: relative;
    max-width: 100%;
    height: 275px;
    margin: 0 auto;
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
    border-radius: 5%;
}

#cf img.top:hover {
    opacity: 0;
    /* transform: scale(1.2); */
}


.bottom {
    width: 100%;
    height: 275px;
}

.top {
    width: 100%;
    height: 275px;
    background: rgb(53, 57, 59);
    opacity: .8;
    transition-duration: transform .5s; /* Animation */
}


.card-button {
    display: inline-block;
    position: relative;
    top: 130px !important;
    margin: 0 20px;
}
